@keyframes like {
    0% {
        opacity: 0%;
        scale: 1%;
    }
    15% {
        opacity: 75%;
        scale: 50%;
    }
    30% {
        opacity: 100%;
        scale: 75%;
    }
    45% {
        scale: 100%;
    }
    50% {
        scale: 100%;
    }
    75% {
        opacity: 100%;
        scale: 95%;
    }
    100% {
        opacity: 0%;
        scale: 1%;
    }
}
@keyframes likeRebot {
    0% {
        opacity: 0%;
        scale: 1%;
    }
    15% {
        opacity: 75%;
        scale: 50%;
    }
    30% {
        opacity: 100%;
        scale: 75%;
    }
    45% {
        scale: 100%;
    }
    50% {
        scale: 100%;
    }
    75% {
        opacity: 100%;
        scale: 95%;
    }
    100% {
        opacity: 0%;
        scale: 1%;
    }
}
@keyframes heartRebot {
    0% {
        scale: 100%;
        stroke: 10%;
        stroke-dasharray: 0;
        stroke-dashoffset: 0;
    }
    35% {
        scale: 120%;
        fill: transparent;
        fill: #FF0000;
    }
    50% {
        scale: 120%;
        fill: transparent;
        fill: #FF0000;
        stroke: 0%;
        stroke-dasharray: 200;
        stroke-dashoffset: 200;
    }
    100% {
        scale: 100%;
        fill: transparent;
        fill: #FF0000;
        stroke: 0%;
        stroke-dasharray: 450;
        stroke-dashoffset: 450; 
    }
}
@keyframes heart {
    0% {
        scale: 100%;
        stroke: 10%;
        stroke-dasharray: 0;
        stroke-dashoffset: 0;
    }
    35% {
        scale: 120%;
        fill: transparent;
        fill: #FF0000;
    }
    50% {
        scale: 120%;
        fill: transparent;
        fill: #FF0000;
        stroke: 0%;
        stroke-dasharray: 200;
        stroke-dashoffset: 200;
    }
    100% {
        scale: 100%;
        fill: transparent;
        fill: #FF0000;
        stroke: 0%;
        stroke-dasharray: 450;
        stroke-dashoffset: 450;
    }
}
.imgpopup {
    display: none;
    position: fixed;
    inset: 0%;
    margin: auto;
    background-color: rgba(0, 0, 0,.9);
    height: 100%;
    width: 100%;
    z-index: 3;
}
.borde {
    width: 80%;
    height: 60%;
    position: absolute;
    inset: 0%;
    margin: auto;
}
.photopopup{
    box-shadow: 0 1px 5px rgb(255, 255, 255);
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0%;
    margin: auto;
    border-radius: 5%;
    z-index: 3;
}
.namepopup{
    background-color: rgba(0, 0, 0, 0.5);
    color: #ffffff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: justify;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 9);
    filter: blur(0.5%);
    position: absolute;
    left: 5%;
    bottom: 5%;
    font-size: 140%;
    z-index: 3;
}
.viewCloser{
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    width: 50px; 
    height: 50px;
    position: absolute;
    right: 2%;
    top: 1%;
    z-index: 3;
    scale: 75%;
}
.viewCloser:active{
    animation: viewCloser 0.5s forwards;
}
@keyframes viewCloser {
    from {
        scale: 75%;
    }
    to {
        scale: 60%;
    }
}

@keyframes viewRebot {
    0% {
        scale: 100%;
    }
    35% {
        scale: 85%;
    }
    50% {
        scale: 120%;
    }
    75% {
        scale: 120%;
    }
    85% {
        scale: 95%;
    }
    100% {
        scale: 100%;
    }
}
.btmenu {
    width: 50px;
    height: 43px;
    background-color: #919191;
    box-shadow: 0 1px 5px rgb(46, 0, 77);
    border: 3px solid rgba(145, 145, 145, 0.7);
    position: fixed;
    right: 5%;
    top: 2.70%;
    border-radius: 10%;
    z-index: 3;
    opacity: 0%;
    cursor: pointer;
}
.btmenu .line {
    inset: 0%;
    margin: auto;
    opacity: 0%;
}
.logo {
    padding: 1% 3% 0% 2%;
    margin: 0% 0% 1% 1%;
    text-align: center;
    width: 59px;
    height: 54px;
    border-radius: 5%;
    position: absolute;
    top: 2.5%;
    right: 0.5%;
    z-index: 5;
}
.menu {
    display: none;
    position: fixed;
    inset: 0%;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.4);
    height: 100%;
    width: 100%;
    z-index: 3;

}
.menuback {
    box-shadow: 0 5px 15px rgb(46, 0, 77);
    background-color: rgba(0, 0, 0,0.9);
    width: 60%;
    height: 60%;
    position: absolute;
    inset: 0%;
    margin: auto;
    border-radius: 15px;
    z-index: 3;
    display: grid;
    gap: 5%;
}
.h1Menu {
    scale: 100%;
    text-align: center;
    color: #ffffff;
    font-size: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: auto;
    cursor: pointer;
    text-decoration: none;
}
.viewCloserMenu {
    background-color: rgba(138, 138, 138, 0.2);
    border-radius: 50%;
    width: 70px; 
    height: 63px;
    position: absolute;
    right: 1%;
    top: 1%;
    z-index: 3;
    scale: 70%;
}
.viewCloserMenu:active {
    animation: viewCloserMen 0.5s forwards ;
}
@keyframes viewCloserMen {
    from {
        scale: 70%;
    }
    to {
        scale: 55%;
    }
}
.BtAG{
    width: 45%;
    height: 25px;
    background-color: #00BA8F;
    border-color: aqua;
    color: aliceblue;
    border-radius: 8px;
    display: block;
    margin: 20px auto;
}