.ConFoFlex {
    width: 98%;
    height: 100%;
    position: absolute;
}
.mascotaU {
    width: 95%;
}
.iglesias {
    width: min (50px, 100%);
    margin: 0 auto;
    columns: 2 30px;
    column-gap: 50px;
    gap: 2%;    
    text-align: center;
    align-items: center;
    margin: 0% 1% 0% 0%;
}
.GaleMasco {
    margin: 5%;
    text-align: center;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
}
.mascotaV-video{
    width: 95%;
}
.iglesias img {
    display: block;
    margin-bottom: 0.5em;
    width: 100%;
    border-radius: 15px 0px 8px 0px;
}